<<<<<<< HEAD
#root {

=======
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
>>>>>>> e7c17e6373c5957a17e561ed4fb95d176a4f2ac3
}


<<<<<<< HEAD
=======
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
>>>>>>> e7c17e6373c5957a17e561ed4fb95d176a4f2ac3
